<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>
    <span>List of users</span>
</p>
<span th:if="${users.isEmpty()}">
    <span colspan="2">No users Available</span>
</span>

<table>
    <thead>
    <tr>
        <th> Name</th>
        <th> Birthday</th>
        <th> Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.getName()}"> </span></td>
        <td><span th:text="${user.getBirthday()}"> </span>
        <td><span th:text="${user.getEmail()}"> </span></td>
        <td>
            <form th:action="@{/users/{id}(id=${user.getId()})}" th:method="delete">
                <input type="submit" value="delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/index}">Go to home page</a>
</div>
</body>
</html>