<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org
https://thymeleaf.org
http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title th:text="${userById.getFirstName()} ${userById.getLastName()}></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<span th:text="${userById.getFirstName()}"> </span>
<span th:text="${userById.getLastName()}"> </span>
<span th:text="${userById.getEmail()}"> </span>
<span th:date="${userById.getBirthday()}"> </span>

</body>
</html>